<app-menu></app-menu>

<app-loading></app-loading>

<router-outlet></router-outlet>

<div class="fixed-bottom">
  <div *ngIf="alert" [class]="alert.type === 'success' ? 'alert alert-success' : 'alert alert-danger'" class="text-center" role="alert">
    {{ alert.message }}
  </div>
</div>


<!--FOOTER BEGIN-->
<footer class="footer">
  <div class="wrapper-overfllow">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12" align="center">
          <div class="foot-news">
            <h4>Realização</h4>
            <div class="item">
              <a href="https://www.instagram.com/mocidadepobh?igsh=ZXBhMXNobWozOGlx" target="_blank" class="name">Federação de Mocidades POBH</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12" align="center">
          <div class="foot-news">
            <h4>Patrocínio</h4>
            <div class="item">
              <a href="https://www.poupou.com.br/pt" target="_blank" class="name">Poupou</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12" align="center">
          <div class="foot-news">
            <h4>Apoio</h4>
            <div class="item">
              <a href="https://minasmineracao.net.br/" target="_blank" class="name">Minas Mineração</a>
            </div>
          </div>
        </div>        
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="foot-news">
            <h4></h4>
            <div class="item" align="center" style="padding-left: 12px;">
              Tema anual - Não temas - Josué 1:9
            </div>
            <div class="item" align="center" style="padding-left: 12px;">
              Moto UMP - Alegres na esperança; fortes na fé; dedicados no amor; unidos no trabalho
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
