<app-menu></app-menu>

<app-loading></app-loading>

<router-outlet></router-outlet>

<div class="fixed-bottom">
  <div *ngIf="alert" [class]="alert.type === 'success' ? 'alert alert-success' : 'alert alert-danger'" class="text-center" role="alert">
    {{ alert.message }}
  </div>
</div>


<!--FOOTER BEGIN-->
<footer class="footer">
  <div class="wrapper-overfllow">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12" align="center">
          <div class="foot-news">
            <h4 style="padding: 0">Realização</h4>
            <div class="item">
              <a href="https://www.instagram.com/fmprel" target="_blank" class="name">Federação de Mocidades PREL</a>
            </div>
          </div>
        </div>     
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="foot-news">
            <div class="item" align="center" style="padding-left: 12px; margin-top: 20px">
              Alegres na esperança; fortes na fé; dedicados no amor; unidos no trabalho
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
