<app-menu></app-menu>

<router-outlet></router-outlet>

<!--FOOTER BEGIN-->
<footer class="footer">
  <div class="wrapper-overfllow">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="foot-news">
            <h4>Realização</h4>
            <div class="item">
              <a href="news.html" class="name">Federação de Mocidades POBH</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="foot-news">
            <h4>Patrocínio</h4>
            <div class="item">
              <a href="news.html" class="name">Poupou</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="foot-news">
            <h4>Apoio</h4>
            <div class="item">
              <a href="news.html" class="name">Minas Mineração</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="foot-news">
            <h4></h4>
            <div class="item">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
