<section class="club-main-stat">
  <div class="container">
    <div class="row col-md-12">
      <h6 style="padding-left: 15px;">times</h6>
    </div>
    <div class="row col-md-12" *ngIf="times">
      <div class="tab-item part-wrap tab-pane" id="participants">
        <div class="part-list">
          <div class="container">
            <div class="row">
              <div *ngFor="let time of times" class="col-md-3">
                <a routerLink="/jogadores/{{ time.id }}" class="item">
                  <span class="logo">
                    <img src="assets/images/CopaFMPOBH/Times/{{ time.escudo }}" width="80" height="80" alt="team-logo">
                  </span>
                  <span class="name" style="font-weight: bold"> {{ time.nome }} </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>