<div class="broadcast-wrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-9">
                <h4>Partidas {{data | date: 'dd/MM'}}</h4>
            </div>
            <div class="col-xs-6 col-md-3" style="text-align: right;  color: #000;">
                <div class="form-group" style="padding-top: 20px; margin-top: 10px; text-align: right;">
                    <input type="date" class="form-control" [ngModel]="data" (change)="onDateChange($event)">
                    <small id="emailHelp" class="form-text text-muted">buscar outra data</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="broadcast-list" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="broadcast-item" *ngFor="let partida of partidas"
                        style="padding-top: 15px;">
                        <a [routerLink]="['/gerenciarPartida', partida.idPartida]">
                            <div class="item-header" id="headingOne">
                                <div class="row" style="background-color: #fff; cursor: pointer;">
                                    <div class="part-list col-sm-12">
                                        <div class="item-head-body" style="padding-top: 15px; padding-bottom: 0;">
                                            <div class="col-md-3">
                                                <span class="item">
                                                    <span class="logo"><img
                                                            src="assets/images/CopaFMPOBH/Times/{{ partida.timeMandante.escudo }}"
                                                            width="80" height="80" alt="club-image"></span>
                                                    <span class="name" style="word-wrap: break-word;">{{partida.timeMandante.nome}}</span>
                                                </span>
                                            </div>
                                            <span class="info">
                                                <span class="vs">vs</span>
                                                <span class="then">{{partida.horaPartida}}</span>
                                            </span>
                                            <div class="col-md-3">
                                                <span class="item">
                                                    <span class="logo"><img
                                                            src="assets/images/CopaFMPOBH/Times/{{ partida.timeVisitante.escudo }}"
                                                            width="80" height="80" alt="club-image"></span>
                                                    <span class="name" style="word-wrap: break-word;">{{partida.timeVisitante.nome}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>