<section class="club-main-stat">
  <div class="container">
    <h6 style="padding-left: 15px;">melhor goleiro</h6>
    <div class="broadcast-item">
      <div class="item-body">
        <div class="row">
          <div class="col-md-12 lineup-list">
            <div class="number" style="width: 100% !important; font-weight: bold"><span> Goleiros menos vazados
              </span></div>
          </div>
          <div class="col-xs-12" style="padding-right: 0;">
            <div class="lineup-list">
              <div class="left">
                <div class="number paddingZero col-xs-1" style="width: 40px !important; font-weight: bold"><span> -
                  </span></div>
                <div class="playername name col-xs-6" style="font-weight: bold">Nome</div>
                <div class="name col-xs-3" style="text-align:center; font-weight: bold">Votos</div>
                <div class="name col-xs-2" style="text-align:center; font-weight: bold">Jogos</div>
              </div>
              <div class="item" *ngFor="let jogador of goleiros">
                <div class="left">
                  <div class="number col-xs-1">
                    <div class="number paddingZero leftNumber col-xs-1">
                      <img src="assets/images/CopaFMPOBH/Times/{{ jogador.escudo }}" width="24" height="24"
                        alt="team-logo" style="left: 0">
                    </div>
                  </div>
                  <div class="playername name col-xs-6">{{ nomeJogador(jogador.nome) }}</div>
                  <div class="name col-xs-3" style="text-align:center"> {{jogador.melhorGoleiro}} </div>
                  <div class="name col-xs-2" style="text-align:center"> {{jogador.jogos}} </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>