
*.vsidx
.vs/CopaFMPOBH/v17/.wsuo
*.cache
*.editorconfig
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/
Domain/obj/Debug/net8.0/Domain.assets.cache
Domain/obj/Debug/net8.0/Domain.assets.cache
Api.CopaFMPOBH/bin/
Api.CopaFMPOBH/obj/
Api.CopaFMPOBH/debug/
Api.CopaFMPOBH/release/
Application/bin/
Application/obj/
Application/debug/
Application/release/
Domain/bin/
Domain/obj/
Domain/debug/
Domain/release/
Persistence/bin/
Persistence/obj/
Persistence/debug/
Persistence/release/
.vs/Api.CopaFMPOBH/v17/.suo
bin
obj
