
*.vsidx
.vs/CopaFMPOBH/v17/.wsuo
*.cache
*.editorconfig
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/
bin/
obj/
bin
obj
.vs/
.vs
.vs/Api.CopaFMPOBH/FileContentIndex/652c6bcf-6cfc-4d8d-b9dd-947b60d67d83.vsidx
.vs/Api.CopaFMPOBH/FileContentIndex/2cf1d3f7-de2b-4463-94af-6f6b272faa92.vsidx
