<section class="club-main-stat">
  <div class="container" *ngIf="jogadoresTime">
    <div class="broadcast-item">
      <div class="item-body">
        <div class="row">
          <div class="col-xs-12" style="padding-right: 0">
            <div class="lineup-list">
              <div class="left">
                <div class="col-xs-6">
                  <img src="assets/images/CopaFMPOBH/Times/{{ jogadoresTime!.time.escudo }}" width="200" height="200"
                    alt="team-logo">
                </div>
                <div class="col-xs-6">
                  <div class="col-md-12" style="height:70px;">
                    <div class="number" style="width: 100% !important; font-weight: bold"><span> GRUPO {{
                        jogadoresTime!.time.grupo }}</span></div>
                  </div>
                  <div class="col-md-12" style="height:70px;">
                    <div class="col-xs-6">
                      <div class="name" style="padding-left:0px!important"><span><i class='far fa-futbol'
                            style='font-size:24px;color:green'></i> {{ jogadoresTime!.time.golsFeitos }}</span></div>
                    </div>
                    <div class="col-xs-6">
                      <div class="name" style="padding-left:0px!important"><span><i class='far fa-futbol'
                            style='font-size:24px;color:red'></i> {{ jogadoresTime!.time.golsSofridos }}</span></div>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="col-md-12" style="height:70px;">
                      <div class="number" style="width: 100% !important; font-weight: bold">
                        <span>
                          GRUPO {{
                        jogadoresTime!.time.grupo
                          }}
                        </span>
                      </div>
                    </div>
                    <div class="col-md-12" style="height:70px;">
                      <div class="col-xs-6">
                        <div class="name" style="padding-left:0px!important">
                          <span>
                            <i class='far fa-futbol'
                               style='font-size:24px;color:green'></i> {{ jogadoresTime!.time.golsFeitos }}
                          </span>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="name" style="padding-left:0px!important">
                          <span>
                            <i class='far fa-futbol'
                               style='font-size:24px;color:red'></i> {{ jogadoresTime!.time.golsSofridos }}
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12" style="height:70px;">
                      <div class="col-xs-6">
                        <div class="name" style="padding-left:0px!important">
                          <span>
                            <img src="../../assets/images/CopaFMPOBH/Site/caIcon.png" height="35" /> {{
                          jogadoresTime!.time.cartoesAmarelos
                            }}
                          </span>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="name" style="padding-left:0px!important">
                          <span>
                            <img src="../../assets/images/CopaFMPOBH/Site/cvIcon.png" height="35" /> {{
                          jogadoresTime!.time.cartoesVermelhos
                            }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12" style="padding-right: 0">
              <div class="lineup-list">
                <div class="left">
                  <div class="number col-xs-1"><span>{{jogador.numero}}</span></div>
                  <div class="playername name col-xs-7">{{nomeJogador(jogador.nome)}}</div>
                  <div class="name col-xs-1">{{jogador.golsMarcados}}</div>
                  <div class="name col-xs-1">{{jogador.golsSofridos}}</div>
                  <div class="name col-xs-1">{{jogador.cartoesAmarelos}}</div>
                  <div class="name col-xs-1">{{jogador.cartoesVermelhos}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
