<div id="inicio" class="main-slider-section">
    <div class="main-slider">
        <div id="main-slider" class="carousel slide" data-ride="carousel" data-interval="4000">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="main-slider-caption">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="team"> Copa Poupou de Mocidades POBH </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <br />
                            <div class="text"> Fique ligado, o sorteio dos grupos será dia 11/03/2024! </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
