<div >
    <div class="item-body">
        <div class="part-list">
            <div class="row" [ngClass]="{'padding-casa': time == 'casa'}">
                <div class="col-xs-6" [ngClass]="{'padding-item': time == 'casa'}">
                    <span class="item" (click)="abrirModalGol(jogador!.id)" style="padding-top: 5px;">
                        <span class="logo"><i class='far fa-futbol' style='font-size:60px;color:green'></i></span>
                        <span class="icone">Gol</span>
                    </span>
                </div>
                <div class="col-xs-6" [ngClass]="{'padding-item': time == 'casa'}"
                    (click)="abrirModalGol(jogador!.id, true)">
                    <span class="item" style="padding-top: 5px;">
                        <span class="logo"><i class='far fa-futbol' style='font-size:60px;color:red'></i></span>
                        <span class="icone">Gol contra</span>
                    </span>
                </div>
                <div class="col-xs-6" [ngClass]="{'padding-item': time == 'casa'}"
                    (click)="amarelo(jogador!.id)">
                    <span class="item" style="padding-top: 5px;">
                        <span class="logo"><img src="assets/images/CopaFMPOBH/Site/caIcon.png" width="20" height="20"
                                alt="club-image"></span>
                        <span class="icone">Amarelo</span>
                    </span>
                </div>
                <div class="col-xs-6" [ngClass]="{'padding-item': time == 'casa'}"
                    (click)="vermelho(jogador!.id)">
                    <span class="item" style="padding-top: 5px;">
                        <span class="logo"><img src="assets/images/CopaFMPOBH/Site/cvIcon.png" width="20" height="20"
                                alt="club-image"></span>
                        <span class="icone">Vermelho</span>
                    </span>
                </div>
                <div class="col-xs-6" [ngClass]="{'padding-item': time == 'casa'}">
                    <span class="item" style="padding-top: 5px;" (click)="melhorJogador(jogador!.id)">
                        <span class="logo"><i class='far fa-star fa-solid' style='font-size:60px;color:#daa520'></i></span>
                        <span class="icone">Jogador</span>
                    </span>
                </div>
                <div class="col-xs-6" [ngClass]="{'padding-item': time == 'casa'}">
                    <span class="item" style="padding-top: 5px;" (click)="melhorGoleiro(jogador!.id)">
                        <span class="logo"><img src="assets/images/CopaFMPOBH/Site/mg.jpg" width="20" height="20" alt="club-image"></span>
                        <span class="icone">Goleiro</span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" role="dialog" *ngIf="mostrarModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="display: flex;">
                    <h5 class="modal-title left">selecione o goleiro</h5>
                    <button type="button right" class="close" (click)="fechaModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="item-body broadcast-item">
                        <div class="row">
                            <div class="col-xs-12" style="padding-left: 0">
                                <div class="lineup-list">
                                    <div class="item" *ngFor="let jogador of contra ? jogadoresTime : adversario?.jogadores"
                                        (click)="definirGoleiro(jogador)">
                                        <div *ngIf="(time == 'casa' && !contra) || (time != 'casa' && contra)" class="right">
                                            <div class="name">{{nomeJogador(jogador.nome)}}</div>
                                            <div class="number"><span>{{jogador.numero}}</span></div>
                                        </div>
                                        <div *ngIf="(time != 'casa' && !contra) || (time == 'casa' && contra)" class="left" style="padding-left: 15px;">
                                            <div class="number"><span>{{jogador.numero}}</span></div>
                                            <div class="name">{{nomeJogador(jogador.nome)}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <p *ngIf="mostrarMensagemGoleiro" style="color: red;">goleiro não selecionado</p>
                    <p *ngIf="goleiro" style="color: black;"> {{ goleiro.nome.split(' ')[0] }}</p>
                    <button type="button btn-sm" class="btn btn-secondary" (click)="fechaModal()">cancelar</button>
                    <button type="button btn-sm" class="btn btn-primary" (click)="gol()">confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <app-modal-confimacao 
        *ngIf="modalConfirmacao" 
        (cancelar)="fechaModal()" 
        (confirmar)="confirmaCartao()"
        [titulo]="mensagemConfirmacao">
    </app-modal-confimacao>

</div>