<section class="club-main-stat">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="last-match">
                    <div class="team">
                        <a href="about-club.html"><img
                                src="assets/images/CopaFMPOBH/Times/{{ partida!.timeMandante.escudo }}" width="40"
                                height="40" alt="team-logo"></a>
                        <a href="about-club.html" class="name">{{partida!.timeMandante.nome}}</a>
                    </div>
                    <div class="score">
                        <span>{{partida!.timeMandante.golsFeitos}}</span>:<span>{{partida!.timeVisitante.golsFeitos}}</span>
                    </div>
                    <div class="team right">
                        <a href="about-club.html"><img
                                src="assets/images/CopaFMPOBH/Times/{{ partida!.timeVisitante.escudo }}" width="40"
                                height="40" alt="team-logo"></a>
                        <a href="about-club.html" class="name">{{partida!.timeVisitante.nome}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="broadcast-item">
            <div id="collapseOne" class="panel-collapse">
                <div class="item-body">
                    <div class="row">
                        <div class="col-xs-6" style="padding-right: 0">
                            <div class="lineup-list">
                                <div class="item" *ngFor="let jogador of partida!.timeMandante.jogadores">
                                    <div class="left" data-toggle="collapse" [attr.data-target]="'#eventos-casa-' + jogador.numero">
                                        <div class="number"><span>{{jogador.numero}}</span></div>
                                        <div class="name">{{jogador.nome.split(' ')[0]}}</div>
                                    </div>
                                    <app-eventos [jogador]="jogador" [time]="'casa'" [adversario]="partida!.timeVisitante"></app-eventos>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6" style="padding-left: 0">
                            <div class="lineup-list">
                                <div class="item" *ngFor="let jogador of partida!.timeVisitante.jogadores"
                                    >
                                    <div class="right" data-toggle="collapse" [attr.data-target]="'#eventos-visitante-' + jogador.numero"    >
                                        <div class="name">{{jogador.nome.split(' ')[0]}}</div>
                                        <div class="number"><span>{{jogador.numero}}</span></div>
                                    </div>
                                    <app-eventos [jogador]="jogador" [time]="'visitante'" [adversario]="partida!.timeMandante"></app-eventos>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>