<section class="club-main-stat">
    <div class="container" *ngIf="partida">
        <div class="row sem-margem">
            <div class="col-md-12">
                <div class="last-match">
                    <div class="team">
                        <a><img src="assets/images/CopaFMPOBH/Times/{{ partida.timeMandante.escudo }}" width="40"
                                height="40" alt="team-logo"></a>
                        <a class="name">{{partida.timeMandante.nome}}</a>
                    </div>
                    <div class="score">
                        <span>{{partida.golsTimeMandante}}</span>:<span>{{partida.golsTimeVisitante}}</span>
                        <p *ngIf="partida.partidaFinalizada">encerrado</p>
                    </div>
                    <div class="team right">
                        <a><img src="assets/images/CopaFMPOBH/Times/{{ partida.timeVisitante.escudo }}" width="40"
                                height="40" alt="team-logo"></a>
                        <a class="name">{{partida.timeVisitante.nome}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sem-margem" [attr.disabled]="partida.emAndamento ? null : true">
            <div class="col-md-12">
                <div class="broadcast-item">
                    <div id="collapseOne" class="panel-collapse">
                        <div class="item-body">
                            <div class="row">
                                <div class="col-xs-6" style="padding-right: 0; cursor: pointer;">
                                    <div class="lineup-list">
                                        <div class="item" *ngFor="let jogador of partida.timeMandante.jogadores">
                                            <div class="left" (click)="selecionarJogador(jogador)">
                                                <div class="number"><span>{{jogador.numero}}</span></div>
                                                <div class="name">{{jogador.nome.split(' ')[0]}}</div>
                                            </div>
                                            <app-eventos [jogador]="jogador" [time]="'casa'"
                                                *ngIf="jogadorSelecionado == jogador" [partida]="partida.idPartida"
                                                [adversario]="partida.timeVisitante"
                                                [jogadoresTime]="partida.timeMandante.jogadores"
                                                (partidaAtualizada)="atualizaEventos($event)"></app-eventos>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6" style="padding-left: 0; cursor: pointer;">
                                    <div class="lineup-list">
                                        <div class="item" *ngFor="let jogador of partida.timeVisitante.jogadores">
                                            <div class="right" (click)="selecionarJogador(jogador)">
                                                <div class="name">{{jogador.nome.split(' ')[0]}}</div>
                                                <div class="number"><span>{{jogador.numero}}</span></div>
                                            </div>
                                            <app-eventos [jogador]="jogador" [time]="'visitante'"
                                                *ngIf="jogadorSelecionado == jogador" [partida]="partida.idPartida"
                                                [adversario]="partida.timeMandante"
                                                [jogadoresTime]="partida.timeVisitante.jogadores"
                                                (partidaAtualizada)="atualizaEventos($event)"></app-eventos>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sem-margem" *ngIf="!partida.emAndamento && !partida.partidaFinalizada">
            <div class="col-xs-12" style="padding-top: 15px;">
                <button type="button" class="btn btn-success btn-lg btn-block" (click)="iniciarPartida()">
                    iniciar partida
                </button>
            </div>
        </div>
        <div class="row sem-margem" [attr.disabled]="partida.emAndamento ? null : true">
            <div class="col-md-12">
                <app-historico-eventos [eventos]="eventos" [partida]="partida" (deletarEvento)="deletarEvento($event)">
                </app-historico-eventos>
            </div>
        </div>
        <div class="row sem-margem align-items-center">
            <div class="col-xs-6">
                <a routerLink="/gerenciarPartida" class="back">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i> voltar
                </a>
            </div>
            <div class="col-xs-6 text-right" *ngIf="partida.emAndamento">
                <button class="button btn btn-secondary" (click)="abrirModalFinalizarPartida()">
                    finalizar
                </button>
            </div>
        </div>

        <app-modal-confimacao *ngIf="modalFinalizarPartida" (cancelar)="fecharModalFinalizar()"
            (confirmar)="finalizarPartida()" titulo="finalizar partida?">
        </app-modal-confimacao>

    </div>
</section>