<div class="main-menu-wrap sticky-menu">
  <div class="container" style="padding-left:16px!important">
    <a href="#" class="custom-logo-link">
      <img src="assets/images/CopaFMPOBH/Site/logo.png" width="200px" alt="logo"
           class="custom-logo">
    </a>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#team-menu"
            aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <nav class="navbar">
      <div class="collapse navbar-collapse" id="team-menu">
          <ul class="main-menu nav">
              <li><a routerLink="/inicio"><span>Início</span></a></li>
              <li><a routerLink="/times"><span>Times</span></a></li>
              <li><a routerLink="/partidas"><span>partidas</span></a></li>
              <li><a routerLink="/classificacao"><span>Classificação</span></a></li>
              <li><a routerLink="/artilheiros"><span>Artilheiros</span></a></li>
              <li><a routerLink="/melhorgoleiro"><span>Melhor Goleiro</span></a></li>
              <!--<li><a routerLink="/melhorgoleiro"><span>Melhor Goleiro</span></a></li>-->
          </ul>
      </div>
    </nav> 
  </div>
</div>
