<div id="partidas">
    <section class="image-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="info">
                        <div class="wrap">
                            <h1>Partidas</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h6>Latest matches</h6>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="main-lates-matches">
                <a href="#" class="item">
                    <span class="championship">National cup - quarterfinal</span>
                    <span class="teams-wrap">
                        <span class="team">
                            <span>
                                <img src="assets/images/common/team-logo1.png" alt="team-image">
                            </span>
                            <span>Team 1</span>
                        </span>
                        <span class="score">
                            <span>3:2</span>

                        </span>
                        <span class="team1">
                            <span>Internacional</span>
                            <span><img src="assets/images/common/team-logo2.png" alt="team-image"></span>
                        </span>
                    </span>
                    <span class="game-result">(5-4) penalties</span>
                </a>
                <a href="#" class="item">
                    <span class="championship">National cup - quarterfinal</span>
                    <span class="teams-wrap">
                        <span class="team">
                            <span>
                                <img src="assets/images/common/team-logo3.png" alt="team-image">
                            </span>
                            <span>Team 1</span>
                        </span>
                        <span class="score">
                            <span>3:2</span>

                        </span>
                        <span class="team1">
                            <span>Team 2</span>
                            <span><img src="assets/images/common/team-logo4.png" alt="team-image"></span>
                        </span>
                    </span>
                    <span class="game-result">(5-4) penalties</span>
                </a>
                <a href="#" class="item">
                    <span class="championship">National cup - quarterfinal</span>
                    <span class="teams-wrap">
                        <span class="team">
                            <span>
                                <img src="assets/images/common/team-logo5.png" alt="team-image">
                            </span>
                            <span>Team 1</span>
                        </span>
                        <span class="score">
                            <span>3:2</span>

                        </span>
                        <span class="team1">
                            <span>Team 2</span>
                            <span><img src="assets/images/common/team-logo1.png" alt="team-image"></span>
                        </span>
                    </span>
                    <span class="game-result">(5-4) penalties</span>
                </a>
                <a href="#" class="item">
                    <span class="championship">National cup - quarterfinal</span>
                    <span class="teams-wrap">
                        <span class="team">
                            <span>
                                <img src="assets/images/common/team-logo2.png" alt="team-image">
                            </span>
                            <span>Team 1</span>
                        </span>
                        <span class="score">
                            <span>3:2</span>

                        </span>
                        <span class="team1">
                            <span>Team 2</span>
                            <span><img src="assets/images/common/team-logo3.png" alt="team-image"></span>
                        </span>
                    </span>
                    <span class="game-result">(5-4) penalties</span>
                </a>
                <a href="#" class="item">
                    <span class="championship">National cup - quarterfinal</span>
                    <span class="teams-wrap">
                        <span class="team">
                            <span>
                                <img src="assets/images/common/team-logo4.png" alt="team-image">
                            </span>
                            <span>Team 1</span>
                        </span>
                        <span class="score">
                            <span>3:2</span>

                        </span>
                        <span class="team1">
                            <span>Team 2</span>
                            <span><img src="assets/images/common/team-logo5.png" alt="team-image"></span>
                        </span>
                    </span>
                    <span class="game-result">(5-4) penalties</span>
                </a>
            </div>
        </div>
    </div>
</div>