<section class="main-club-stuff">
    <div class="container" *ngIf="rodadaSelecionada">
        <div class="row col-md-12">
            <!--<h6 style="padding-left: 15px;">rodada {{rodadaSelecionada}}</h6>-->
            <h6 style="padding-left: 15px;" *ngIf="rodadaSelecionada != 4 && rodadaSelecionada != 5 && rodadaSelecionada != 6">Rodada {{rodadaSelecionada}}</h6>
            <h6 style="padding-left: 15px;" *ngIf="rodadaSelecionada == 4">Play offs</h6>
            <h6 style="padding-left: 15px;" *ngIf="rodadaSelecionada == 5">Semifinais</h6>
            <h6 style="padding-left: 15px;" *ngIf="rodadaSelecionada == 6">Terceiro Lugar</h6>
            <h6 style="padding-left: 15px;" *ngIf="rodadaSelecionada == 7">Grande Final</h6>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="managers" role="tabpanel">
            <div id="rodadas" class="carousel  main-stuff-slider">
                <div class="carousel-inner" role="listbox">
                    <div class="item" *ngFor="let rodada of keys(partidasPorRodada)"
                        [ngClass]="{'active': rodada == rodadaSelecionada }">
                        <div class="container" *ngFor="let partida of partidasPorRodada[rodadaSelecionada]">
                            <app-item-partida [partida]="partida"></app-item-partida>
                        </div>
                    </div>
                    <a class="nav-arrow left-arrow"
                        *ngIf="rodadaSelecionada > primeiraRodada" (click)="selecionarRodada(false)">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only"></span>
                    </a>
                    <a class="nav-arrow right-arrow"
                        *ngIf="rodadaSelecionada < ultimaRodada" (click)="selecionarRodada(true)">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
